
//Fonts 
$fontPrincipal: Roboto, sans-serif;

//Cores
$bg-color: #f5f6fa; 
$cor-primaria: #182C61;
$cor-secundaria: #fff; 
$cor-button: #44bd32; 
$cor-secundaria-button: #4cd137; 

//BreakPoints
$mobile: 767px; 
$tablet: 1023px; 
