*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #18191f;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    width: 900px;
    margin: auto;
    margin-top: 10px;
}

header {
    font-size: 10px;
    display: flex;
}

header h1 {
    color: white;
}

#introduction h1 {
    font-size: 50px;
    margin-bottom: 45px;

}

#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: 5px solid white;
}

#tarefas {
    display: flex;
    justify-content: center;
}

form{
    font-family: 'Oswald', sans-serif;
}
#form-tarefas h2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border-bottom: solid 2px;
}
#form-tarefas ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
}

#lista-tarefas ul li {
    color: #e5cccc;
    cursor: pointer;
    padding: 10px;
}

form input {
    padding: 5px;
}

button{
    padding: 5px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

#lista-tarefa li { 
    cursor: pointer;
}

#lista-tarefas li.risco {
    text-decoration: line-through 4px red;
}

