*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #18191f;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
}

header {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 20px 50px 0 50px;
    align-items: center;
}

#introduction ul {
    display: flex;
}

#introduction h1 {
    font-size: 50px;
    margin-bottom: 45px;

}

#introduction ul li {
    font-size: 20px;
    list-style: none;
    margin-left: 40px;
    padding: 5px;
    color: white;
}


header h1 {
    padding: 5px;
    color: white;

}
#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border-bottom: 5px solid white;

}

.line-through{
    text-decoration: line-through;
}

#tarefas {
    display: flex;
    justify-content: space-between;
    margin: 0 80px 0 80px;
}
form{
    font-family: 'Oswald', sans-serif;
}
#form-tarefas h2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-weight: bolder;
    border-bottom: solid 2px;
}
#form-tarefas ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
}

#form-tarefas ul li {
    color: #e5cccc;
    cursor: pointer;
    padding: 10px;
}

#form-tarefas form input {
    padding: 5px;
}

button{
    padding: 5px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

#t-estudantil {
    margin: 5px;
}

#lista-estudantil li, #lista-profissional li, #lista-financeiro li, #lista-pessoal li { 
    cursor: pointer;
}

#lista-estudantil li.risco, #lista-profissional li.risco, #lista-financeiro li.risco, #lista-pessoal li.risco  {
    text-decoration: line-through 4px red;
}

